* {
  margin: 0;
  /* padding: 0; */
}

body {
  background-color: aqua;
  /* max-width: 100%;
    max-height: 100vh; */
  /* overflow: hidden; */
}
.navbar {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: rgb(16 24 32);
  width: 100vw;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  } */
.logo {
  margin-left: 40px;
}
.menu {
  position: relative;
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 40px;
}
.navbar a {
  text-decoration: none;
  color: rgb(255 255 255);
  font-size: 18px;
  font-family: "Maison Neue Demi";
}
main {
  margin: 0;
  padding: 0;
  background-color: blueviolet;
}

.container {
  position: relative;
  text-align: center;
  /* padding: 100px; */
}
.coverAtas {
  object-fit: cover;
  width: 100%;
}
.sideText {
  position: absolute;
  top: 0px;
  width: 80%;
  margin: 10% 10%;
  padding-top: 150px;

  /* background-color: blueviolet; */
}
.sideText h1 {
  /* padding-top: 75px; */
  font-size: 48px;
  text-align: left;
  letter-spacing: 0.8px;
  line-height: 68px;
  font-family: "Maison Neue Extended Extra Bold";
  font-weight: 800;
  width: 66.6%;
  color: rgb(255, 255, 255);
  /* background-color: aqua; */
}
.container2 {
  background-color: rgb(16, 24, 32);
  height: 200px;
  padding-top: 80px;
  text-align: center;
}
.container2 h2 {
  color: rgb(255, 255, 255);
  font-size: 48px;
  line-height: 64px;
  font-family: "Maison Neue Extended Extra Bold";
  margin-bottom: 12px;
}

button {
  font-size: 16px;
  font-family: "Maison Neue Demi";
  border: none;
  color: rgb(255, 255, 255);
  background-color: #00b80d;
  border-radius: 96px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.container3 {
  /* position: ;
    top: 0; */
  display: flex;
  height: 166px;
  width: 100%;
  align-items: flex-end;
  background-color: rgb(16 24 32);
}
.subcontainer3 {
  border: 0 solid;
  background-color: rgb(255, 255, 255);
  height: 96px;
  width: 100%;
  border-top-left-radius: 96px;
  border-top-right-radius: 96px;
}
.container4 {
  width: 100%;
  /* height: ; */
}
.subcontainer4 {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
}
.movingIcons {
  width: 80%;
  margin: auto;
  display: flex;
}
